<hello name="{{ name }}"></hello>
{{myForm}}
{{myForm.valid}}
{{myForm}}
{{myForm}}

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <input formControlName="cc"/>
  <div formArrayName="arr" *ngFor="let a of myForm.get('arr').controls; let i = index">
    <div [formGroupName]="i" style="margin-bottom: 10px;">
      <label for="name">Name:</label>
      <input type="text" name="name" formControlName="name">
      <br><br>
      <label for="pay">Pay:</label>
      <input type="text" name="pay" formControlName="pay">
    </div>
    <div [formGroupName]="i" style="margin-bottom: 10px;">
      <label for="name">Name:</label>
      <input type="text" name="name" formControlName="name">
      <br><br>
      <label for="pay">Pay:</label>
      <input type="text" name="pay" formControlName="pay">
    </div>


  </div>
  <br>
  <div >
    <div formArrayName="arr2" *ngFor="let i of myForm.get('arr2').controls; let j = index;">

          <div [formGroupName]="j" style="margin-bottom: 10px;">

       <label>lname: </label><input name='lname' formControlName="lname"/>
        <div>asfd</div>
               <label>fname: </label><input name='fname' formControlName="fname"/>

        </div>
    </div>
  </div>
  <button type="button" (click)="addItem()" style="margin-right: 5px;">Add</button>
  <button type="button" (click)="addItem2()" style="margin-right: 5px;">Add2</button>
  <button type="submit">Submit</button>
  <button type="submit" [disabled]="!myForm.valid">submit</button>
</form>